<div class="col-md-12">
  <p class="text-center">
      {{title}}
  </p>
  
  <div class="row">
  <div class="col-sm-2 col-md-2"></div>
  <div class="col-sm-8 col-md-8 input-group" style="margin-bottom: 10px;">
      <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
      <input class="form-control" type="email" placeholder="email Id">
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>

    <div class="row">
  <div class="col-sm-2 col-md-2"></div>
  <div class="col-sm-8 col-md-8 input-group" style="margin-bottom: 10px;">
      <span class="input-group-addon"><i class="fa fa-key"></i></span>
      <input class="form-control" type="password" placeholder="password">
    </div>
<div class="col-sm-2 col-md-2"></div>
  </div>

    <div class="row">
  <div class="col-sm-2 col-md-2"></div>
  <div class="col-sm-8 col-md-8 text-center">
      <button class="btn">Login</button>
      <button class="btn btn-link" [routerLink]="['signup']">SignUp!!</button>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
  </div>