<nav class="navbar navbar-inverse">  
  <div class="contaner-fluid">
    <div class="navbar-header">
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#myNavbar'>                         
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="navbar-brand" href="#">
        <span><img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" /></span>
        {{title}}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/login" routerLinkActive="Active">Login</a></li>
        <li><a routerLink="/signup" routerLinkActive="Active">Sign Up</a></li>
      </ul>
    </div>
  </div>  
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>