<p class="text-center">
  New User..??  
</p>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="row">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
    <input ngModel #nameRef="ngModel" minlength="4" maxlength="10" name="name" type="text" class="form-control" placeholder="User name" required>
    <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
      <div [hidden]="!nameRef.errors.required">
        Please enter name
      </div>
      <div [hidden]="!nameRef.errors.minlength">
        Please enter atleast 4 characters
      </div>      
    </div>
  </div>    
  <div class="col-xs-2 col-md-2">    
  </div>
  </div>

  <div class="row">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon"><i class="fa fa-key"></i></span>
    <input ngModel name="password" type="password" class="form-control" placeholder="Password" required>
  </div>
  <div class="col-xs-2 col-md-2"></div>
  </div>

  <div class="row">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input ngModel name="email" type="email" class="form-control" placeholder="Email" required>  
  </div>
  <div class="col-xs-2 col-md-2"></div>
  </div>

  <div class="row">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input ngModel name="dob" type="text" class="form-control">    
  </div>
  <div class="col-sm-2 col-md-2"></div>
  </div>
  <div class="row">
  <div class="col-xm-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8 text-center" >    
    <button type="submit" class="btn">
      SignUp now..
      <i class="fa fa-thumbs-up"></i>
    </button>
  </div>
  <div class="col-xs-2 col-md-2"></div>
  </div>
</form>
